body {
    margin:10px;
    margin-right: 1200px;
    font-size: x-large;
    color: #cacaca;
    background-color: #333333;
    font-family: monospace;
}

h1 {
    position: relative;
    left:800px;
}

.p1 {
    position: relative;
    top: 108px;
    left: 600px;
}

.p2 {
    position: relative;
    left: 1200px;
}

div.dice{
	width:32px;
	background:#F5F5F5;
	border:#999 1px solid;
	padding:10px;
	font-size:24px;
	text-align:center;
    margin:5px;
    position: relative;
    left: 920px;
}

#rollbtn{
    position: relative;
    left: 890px;
}
#stopbtn{
    position: relative;
    left: 900px;
}
#status{
    position: relative;
    left: 945px;
}