body {
    margin:10px;
    margin-right: 1200px;
    font-size: x-large;
    color: #cacaca;
    background-color: #333333;
    font-family: monospace;
}

h1 {
    position: relative;
    left:800px;
}

.p1 {
    position: relative;
    top: 108px;
    left: 600px;
}

#p1name {
    color: red;
}

.p2 {
    position: relative;
    left: 1200px;
}

img.dice{
    width: 80px;
    height: 80px;
    display: block;
    margin:5px;
    position: relative;
    left: 920px;
}

#rollbtn{
    position: relative;
    left: 890px;
}
#getscorebtn{
    position: relative;
    left: 900px;
}
#score{
    position: relative;
    left: 945px;
}

#dicegif{
    display: none;
    position: relative;
    left: 880px;
   bottom: 320px; 
}